<!DOCTYPE html>
<html lang="en-gb">
<head>
    <script src='../public/jquery.min.js'></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../public/ystv.ico" sizes="48x48">
    <link rel="apple-touch-icon" href="../public/ystv.ico" sizes="48x48">
    <title>Streamer</title>
</head>


<body>
    {{block "content" .}}{{end}}
    <footer id="footer">Streamer - created by Liam Burnand 2022</footer>
</body>
</html>