{{define "content"}}
<div class="card" id="enter">
    <div class="card-content">
        <p class="title">Listing all current streams in being processed<br>
            In order to resume them, go to <a href="https://streamer.dev.ystv.co.uk/resume">https://streamer.dev.ystv.co.uk/resume</a></p><br>
        <p id="listing"></p>
        <p id="error" style="color: red"></p><br>
        <input class="button" id="refresh" type="button" value="Refresh">
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#refresh').click(function () {
            $('#error').html("")
            $.ajax({
                url: 'list',
                type: 'post',
                dataType: 'text',
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    $('#listing').html(data)
                },
            })
        }).trigger("click");
    });
</script>
{{end}}