{{define "content"}}
<h1 class="title">Streamer</h1><br>
<div class="subtitle"><p>Welcome to Streamer<br></p></div>
<div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"/>
        <div class="slider round"></div>
    </label>
    <p style="margin-bottom: 10px;">Dark Mode</p>
</div>
<div class="card" id="enter">
    <div class="card-content">
        <p class="title">Listing all current streams in being processed<br>
            In order to resume them, go to <a href="https://streamer.dev.ystv.co.uk/resume">https://streamer.dev.ystv.co.uk/resume</a></p><br>
        <p id="listing"></p>
        <p id="error" style="color: red"></p><br>
        <input class="button" id="refresh" type="button" value="Refresh">
    </div>
</div>
<script>
    const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-theme', 'dark');
        toggleSwitch.checked = true;
    }

    function switchTheme(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark');
        } else {
            document.documentElement.setAttribute('data-theme', 'light');
            localStorage.setItem('theme', 'light');
        }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);

    $(document).ready(function () {
        $('#refresh').click(function () {
            $('#error').html("")
            $.ajax({
                url: 'list',
                type: 'post',
                dataType: 'text',
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    $('#listing').html(data)
                },
            })
        }).trigger("click");
    });
</script>
{{end}}