{{define "content"}}
    <div class="tabs is-toggle is-toggle-rounded">
        <ul>
            <li>
                <a href="/">
                    <span>Home</span>
                </a>
            </li>
            <li class="is-active">
                <a href="/resume">
                    <span>Resume</span>
                </a>
            </li>
            <li>
                <a href="/list">
                    <span>List</span>
                </a>
            </li>
            <li>
                <a href="/save">
                    <span>Save</span>
                </a>
            </li>
            <li>
                <a href="/recall">
                    <span>Recall</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="card" id="enter_window">
        <div class="card-content">
            <p class="title">Resume a stream</p><br>
            <form id="resume">
                <label for="resume_unique_input">Enter the code you were given after starting the stream in the box below</label><br>
                <input class="input" name="unique" id="resume_unique_input" placeholder="ab12cd34ef"><br>
                <p id="resume_error" style="color: red"></p><br>
                <input class="button" id="submit_unique" type="button" value="Submit">
            </form>
        </div>
    </div>
    {{block "statusWindowHTML" .}}{{end}}
    {{block "stopWindowHTML" .}}{{end}}
    <script>
        let unique;
        let resumeError = $("#resume_error");
        let statusInterval;
        let statusWindowServerErrorInterval;

        $(document).ready(function () {
            $("#submit_unique").click(function () {
                resumeError.html("");
                if ($("#resume_unique_input").val().length === 0) {
                    resumeError.html("The code field cannot be empty");
                    return;
                }
                $.ajax({
                    url: "resume",
                    type: "post",
                    dataType: "text",
                    contentType: "application/x-www-form-urlencoded",
                    data: $("#resume").serialize(),
                    success: function (data) {
                        const resumeResponseJson = JSON.parse(data);
                        if (resumeResponseJson.error !== "") {
                            resumeError.html("Unique code not accepted");
                            console.log(resumeResponseJson.error);
                            return;
                        }

                        if (resumeResponseJson.response !== "ACCEPTED!") {
                            resumeError.html("Unique code not accepted");
                            console.log(resumeResponseJson.response);
                            return;
                        }
                        document.getElementById("enter_window").hidden = true;
                        document.getElementById("enter_window").style.visibility = "hidden";
                        document.getElementById("status_window").hidden = false;
                        document.getElementById("status_window").style.visibility = "visible";
                        let uniqueField = $("#resume_unique_input");
                        unique = uniqueField.val();
                        $("#unique_code").html(uniqueField.val());
                        let tableStatus = $("#table_status");
                        if (resumeResponseJson.recording) {
                            tableStatus.append("<tr><td><p class='subtitle'>Recording status</p><pre id='recording_status'></pre><br></td></tr>");
                        }
                        if (resumeResponseJson.website) {
                            tableStatus.append("<tr><td><p class='subtitle'>Website status</p><pre id='website_status'></pre><br></td></tr>");
                        }
                        let streams = resumeResponseJson.streams;
                        for (let i = 1; i <= streams; i++) {
                            tableStatus.append("<tr><td><p class='subtitle'>Stream " + i + " status</p><pre id='" + i + "_status'></pre><br></td></tr>");
                        }

                        {{block "statusJSON" .}}{{end}}
                    },
                })
            });

            {{block "stopJSON" .}}{{end}}
        });
    </script>
{{end}}