{{define "content"}}
    <div class="tabs is-toggle is-toggle-rounded">
        <ul>
            <li>
                <a href="/">
                    <span>Home</span>
                </a>
            </li>
            <li class="is-active">
                <a href="/resume">
                    <span>Resume</span>
                </a>
            </li>
            <li>
                <a href="/list">
                    <span>List</span>
                </a>
            </li>
            <li>
                <a href="/save">
                    <span>Save</span>
                </a>
            </li>
            <li>
                <a href="/recall">
                    <span>Recall</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="card" id="enter">
        <div class="card-content">
            <p class="title">Resume a stream</p><br>
            <form id="resume">
                <label for="resume_unique_input">Enter the code you were given after starting the stream in the box below</label><br>
                <input class="input" name="unique" id="resume_unique_input" placeholder="ab12cd34ef"><br>
                <p id="resume_error" style="color: red"></p><br>
                <input class="button" id="submit_unique" type="button" value="Submit">
            </form>
        </div>
    </div>
    <div class="card" id="resumed" hidden>
        <div class="card-content">
            <p class="title">STREAMING!</p><br>
            <p>The stream has been forwarded, the unique code of this forward is below</p><br>
            <p id="unique_code" class="subtitle"></p><br>
            <p id="status_error" style="color: red"></p><br>
            <p id="status_window_server_error" style="color: red"></p>
            <table class="table table-bordered" id="table_status"></table>
            <br>
            <p>This window can be closed as long as you have the code to stop the stream<br>
                If you want to return later, then you will need to go to <a
                        href="https://streamer.dev.ystv.co.uk/resume"
                        target="_blank">https://streamer.dev.ystv.co.uk/resume</a><br><br><br>
                You can stop the stream by pressing the checkbox and then the button (prevent accidental stops)</p>
            <br><br><br>
            <p id="stop_error" style="color: red"></p><br>
            <label for="stop_checkbox">Enable the stop button </label>
            <input name="stop_checkbox" id="stop_checkbox" type="checkbox"><br>
            <input name="stop_button" id="stop_button" type="button" class="button" value="|> STOP <|"
                   style="visibility: hidden"
                   disabled hidden>
        </div>
    </div>
    <div class="card" id="stopped_window" hidden>
        <div class="card-content">
            <p class="title">STOPPED!</p>
            <p>The forwarding has been stopped successfully<br>
                You can close this window now</p>
        </div>
    </div>
    <script>
        document.getElementById("stop_checkbox").onchange = function () {
            document.getElementById("stop_button").disabled = !this.checked;
            document.getElementById("stop_button").hidden = !this.checked;
            if (this.checked) {
                document.getElementById("stop_button").style.visibility = "visible";
            } else {
                document.getElementById("stop_button").style.visibility = "hidden";
            }
        };

        let unique;
        let statusInterval;

        let statusError = $("#status_error");
        let stopError = $("#stop_error");
        let resumeError = $("#resume_error");

        let statusWindowServerErrorInterval;

        let statusWindowServerError = $("#status_window_server_error");

        $(document).ready(function () {
            $("#submit_unique").click(function () {
                resumeError.html("");
                if ($("#resume_unique_input").val().length === 0) {
                    resumeError.html("The code field cannot be empty");
                    return;
                }
                $.ajax({
                    url: "resume",
                    type: "post",
                    dataType: "text",
                    contentType: "application/x-www-form-urlencoded",
                    data: $("#resume").serialize(),
                    success: function (data) {
                        const resumeResponseJson = JSON.parse(data);
                        if (resumeResponseJson.error !== "") {
                            resumeError.html("Unique code not accepted");
                            console.log(resumeResponseJson.error);
                            return;
                        }

                        if (resumeResponseJson.response !== "ACCEPTED!") {
                            resumeError.html("Unique code not accepted");
                            console.log(resumeResponseJson.response);
                            return;
                        }
                        document.getElementById("enter").hidden = true;
                        document.getElementById("enter").style.visibility = "hidden";
                        document.getElementById("resumed").hidden = false;
                        document.getElementById("resumed").style.visibility = "visible";
                        let uniqueField = $("#resume_unique_input");
                        unique = uniqueField.val();
                        $("#unique_code").html(uniqueField.val());
                        let tableStatus = $("#table_status");
                        if (resumeResponseJson.recording) {
                            tableStatus.append("<tr><td><p class='subtitle'>Recording status</p><pre id='recording_status'></pre><br></td></tr>");
                        }
                        if (resumeResponseJson.website) {
                            tableStatus.append("<tr><td><p class='subtitle'>Website status</p><pre id='website_status'></pre><br></td></tr>");
                        }
                        let streams = resumeResponseJson.streams;
                        for (let i = 1; i <= streams; i++) {
                            tableStatus.append("<tr><td><p class='subtitle'>Stream " + i + " status</p><pre id='" + i + "_status'></pre><br></td></tr>");
                        }
                        statusInterval = setInterval(function () {
                            $.ajax({
                                url: "status",
                                type: "post",
                                dataType: "text",
                                contentType: "application/x-www-form-urlencoded",
                                data: ({"unique_code": unique}),
                                success: function (data) {
                                    const statusResponseJson = JSON.parse(data);
                                    if (statusResponseJson.error !== "") {
                                        statusError.html(statusResponseJson.error);
                                        console.log(statusResponseJson.error);
                                        return;
                                    }
                                    for (let j = 0; j < statusResponseJson.status.length; j++) {
                                        let positionalStatus = statusResponseJson.status[j];
                                        if (positionalStatus.error.length > 0) {
                                            document.getElementById(positionalStatus.name + "_status").innerHTML = positionalStatus.error;
                                        } else {
                                            document.getElementById(positionalStatus.name + "_status").innerHTML = positionalStatus.response;
                                        }
                                    }
                                },
                            })
                        }, 5000);

                        statusWindowServerErrorInterval = setInterval(function () {
                            $.ajax({
                                url: "serverError",
                                type: "post",
                                dataType: "text",
                                contentType: "application/x-www-form-urlencoded",
                                data: ({"unique_code": unique}),
                                success: function (data) {
                                    statusWindowServerError.html();
                                    const serverErrorResponseJson = JSON.parse(data);
                                    if (serverErrorResponseJson.error !== "") {
                                        statusWindowServerError.html(serverErrorResponseJson.error);
                                        return;
                                    }
                                    statusWindowServerError.html(serverErrorResponseJson.serverError+"You may have stream instabilities during this time<br>");
                                },
                            })
                        }, 5000);
                    },
                })
            });

            let stopButton = $("#stop_button");

            stopButton.click(function () {
                stopButton.disabled = true;
                console.log("Stop pressed");
                $.ajax({
                    url: "stop",
                    type: "post",
                    dataType: "text",
                    contentType: "application/x-www-form-urlencoded",
                    data: ({"unique_code": unique}),
                    success: function (data) {
                        const stopResponseJson = JSON.parse(data);
                        if (stopResponseJson.error !== "") {
                            stopError.html(stopResponseJson.error);
                            return;
                        }
                        if (stopResponseJson.stopped) {
                            document.getElementById("resumed").hidden = true;
                            document.getElementById("resumed").style.visibility = "hidden";
                            document.getElementById("stopped_window").hidden = false;
                            document.getElementById("stopped_window").style.visibility = "visible";
                            unique = "";
                            clearInterval(statusInterval);
                            clearInterval(statusWindowServerErrorInterval);
                            return;
                        }
                        stopError.html("invalid response from server: " + stopResponseJson.stopped);
                        console.log("invalid response from server: " + stopResponseJson.stopped);
                    },
                })
                stopButton.disabled = false;
            })
        });
    </script>
{{end}}