{{define "content"}}
<div class="card">
    <div class="card-content">
        <p class="title">YouTube help</p><br>
        <p class="subtitle">Switch accounts</p><br>
        <p>Once you're on YouTube then you need to switch to the YSTV YouTube account you do this by clicking on your
            icon which shows this dropdown menu</p><br>
        <img src="public/youtube_1.png" alt="YouTube 1"><br>
        <p>This page will show up once you select "Switch Account", you need to then go to your @york.ac.uk email
            address which will have the YSTV YouTube shown</p><br>
        <img src="public/youtube_2.png" alt="YouTube 2"><br>
        <p class="subtitle">Schedule livestream</p><br>
        <p>When the YSTV acocunt is selected then you will click the icon again but press on "YouTube Studio"</p><br>
        <img src="public/youtube_3.png" alt="YouTube 3"><br>
        <p>In the top right-hand corner you'll see the three round buttons under the YSTV logo and Create button, press
            on the middle button</p><br>
        <img src="public/youtube_4.png" alt="YouTube 4"><br>
        <p>You'll then want to schedule a stream to happen</p><br>
        <img src="public/youtube_5.png" alt="YouTube 5"><br>
        <p>You have the choice to reuse the settings from a previous stream or start from scratch</p><br>
        <img src="public/youtube_6.png" alt="YouTube 6"><br>
        <p class="title">Getting the stream server and key</p>
        <p>After creating the live video then you'll be shown the page with the stream key and server, copy the stream
            key and the normal stream server, not the backup server unless you know what you're doing.<br>
            Copy those details into the server and key field respectively on the previous page</p><br>
        <img src="public/youtube_7.png" alt="YouTube 7"><br>
    </div>
</div>

<button type="button" class="button"
        onclick="window.open('', '_self', ''); window.close();">Return
</button>
{{end}}