* {
    /*transition: background-color 0.2s ease, color 0.3s ease;
    transition-delay: 0s;*/
}

:root {
    --background-colour: #FFF;
    --title-colour: #363636;
    --text-colour: #A4A4A;
    --border-colour: #2C2C2C;
    --card-shaddow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    --hyperlink-colour: #3273DC;
}

[data-theme="dark"] {
    --background-colour: #3B3B3B;
    --title-colour: #C9C9C9;
    --text-colour: #B5B5B5;
    --border-colour: #C2C2C2;
    --card-shaddow: 0 .5em 1em -.125em rgba(245, 245, 245, .1), 0 0 0 1px rgba(245, 245, 245, .02);
    --hyperlink-colour: #3273DC;
}

body, button, input, optgroup, select, textarea {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: var(--text-colour);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px;
}

img {
    max-height: 500px;
    max-width: 500px;
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    position: relative;
    vertical-align: top;
}

.breadcrumb, .button, .file, .is-unselectable, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button {
    background-color: var(--background-colour);
    border-color: var(--border-colour);
    border-width: 1px;
    color: var(--text-colour);
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap
}

blockquote, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: inherit;
}

html {
    background-color: var(--background-colour);
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    max-width: 94%;
}

.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .highlight:not(:last-child), .level:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.title {
    color: var(--title-colour);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.subtitle, .title {
    word-break: break-word;
}

.title:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem;
}

.subtitle {
    color: var(--text-colour);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.card {
    background-color: var(--background-colour);
    border-radius: .25rem;
    box-shadow: var(--card-shaddow);
    color: var(--text-colour);
    max-width: 100%;
    position: relative;
}

.card-content:first-child, .card-footer:first-child, .card-header:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-content:last-child, .card-footer:last-child, .card-header:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.card-content {
    background-color: transparent;
    padding: 1.5rem;
}

.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
}

a {
    color: var(--hyperlink-colour);
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1.title {
    margin-top: 1.5rem;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin: 0 10px 10px 0;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

label {
    display: inline-block;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
    border-color: var(--border-colour);
}

.input, .select select, .textarea {
    background-color: var(--background-colour);
    border-color: var(--border-colour);
    border-radius: 4px;
    color: var(--text-colour);
}

footer {
    text-align: center;
    position: fixed;
    margin: 0 0 0 -10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: var(--text-colour);
}

.checkbox, .radio {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
}

.select:not(.is-multiple) {
    height: 2.5em
}

.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #3273dc;
    right: 1.125em;
    z-index: 4
}

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
}

.select:not(.is-multiple) {
    height: 2.5em
}
